.parent {
    border: 2px solid black;
    width: 400px;
    height:500px;
    float: left;
}
.child {
    background: lightblue;
    border: 2px solid black;
    width: 400px;
    height:500px;
    float: left;
    text-align: center;
}

img {
    padding: 75px 0px 0px 50px; 
}